@media only screen and (max-width: 800px) {
  .container {
    width: 100vw;
    margin: 0 auto;
  }

  .header {
    background-image: none;
  }

  .header__container {
    background: url(../assets/photo/photo-1.png) center center;
    background-size: cover;
  }

  .brand__content {
    flex-direction: column;
  }

  .brand__content img {
    margin-left: 0;
    margin-bottom: 40px;
  }

  .other-works__poster-design {
    flex-direction: column;
  }

  .other-works__poster-design li,
  .other-works__concept-photography li,
  .other-works__other-design li {
    margin-left: 0;
  }

  .other-works__concept-photography {
    flex-direction: column;
  }

  .other-works__other-design {
    flex-direction: column;
  }
}
